*{
  margin:0;
  padding :0;
  box-sizing: border-box;
  background-color: #024CAA;
}
button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content:center;
}

textarea {
  margin-top: 10px;
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
  border:none;
  border-radius: 10px;
  resize:none;
  background-color: #091057;
}
